body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  
}
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 300px; 
  background-color: #171717;
  padding: 1rem;
  color : #b4b4b4;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
}
.logo{
    height : 30px ;
    width : 30px ;
    margin-right: 15rem;
}

.sidebar .icons{
  font-size: 1.2rem !important ;
}

.icons > svg {
  font-size: inherit; 
  width: 2rem; 
  height: 2rem;
}
.sidebar .main{
  width: 100%;
}
.main button{
  cursor : pointer ;
 width : 100% ;
  padding: 0.5rem;
  display: flex;
  justify-content: flex-start; 
  align-items: center; 
  text-align: left;
  margin-bottom: 0.9rem;
}

.sidebar .chats ul {
  width: 100%;            
  padding: 0;             
  margin: 0;              
  list-style-type: none;  
}

.sidebar .chats li{
  
  font-size: 18px;
  display : flex ;
  justify-content: space-between;
  align-items: center;
  width: 100% ;
  box-sizing: border-box;
  padding : 3px 12px ;
  cursor : pointer ;
  border-radius : 6px ;
  text-align: left;
}

.sidebar .chats{
  width: 100%;
  text-align: left;
}

.sidebar .chats li:hover{
  background-color: rgb(180,180,180, 0.5) ;

  .del-btn{
    opacity: 1;
  }
}

.sidebar .profile{
  margin-top: auto;
  width: 100%;
  margin-bottom:2rem;
  text-align: left;
  
}

.del-btn{
  opacity: 0;
  color : #F44336 !important ;
  transition: opacity 0.15s ease-in-out ;
}



@media(max-width : 900px){
  .sidebar{
    display : none ;
  }
}